<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h4>OPENEG는 IT 기술 전반의 각 분야별 전문가 그룹으로 교육/컨설팅/컨텐츠제작/출판 서비스를 제공합니다.</h4>

                </div>
            </div>

</br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>

                    </span>

                    <h4 class="service-heading">Education</h4>

                    <p color="#808080">숙련된 전문가들의 </br> 소프트웨어/보안코딩/SW개발 교육</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consulting</h4>
                    <p color="#808080">취약점 진단 및 컨설팅</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Publishing</h4>
                    <p color="#808080">(해킹방어를 위한) 자바 시큐어코딩</br> 도서 출판</p>
                </div>


            </div>
        </div>
    </section>
